*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

// Header
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}








